
@{
    ViewData["Title"] = "Create ShowCards";


}


<div class="text-center">
    <h1 class="display-4">Here is the Make a Connection page</h1>

    <form style="border:solid black 2px; width:25%">
        <dl>
            <dt>Show</dt>
            <dd>@ViewBag.Card.ShowTitle</dd>
            <dt>Watcher</dt>
            <dd>@ViewBag.Card.WatcherName</dd>
            <dt>Season</dt>
            @if(ViewBag.Card.CurrentSeason != 0)
            {
            <dd>@ViewBag.Card.CurrentSeason</dd>
            }
            <dt>Episode</dt>
            @if (ViewBag.Card.CurrentEpisode != 0)
            { 
            <dd>@ViewBag.Card.CurrentEpisode</dd>
            }
        </dl>
        <input hidden name="card" value="@ViewBag.Card">
        <input hidden name="showID" value="@ViewBag.Card.ShowID">
        <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
        <input hidden name="seasonID" value="@ViewBag.Card.SeasonID">
        <input hidden name="episode" value="@ViewBag.Card.CurrentEpisode">
        <button type="submit" formaction=@Url.Action("Connect") formmethod="post">Let's Watch</button>

    </form>

    <h3>@ViewBag.Message </h3>

    <form>
        <label for="show">Choose a show</label>
        <select id="show" name="showID" required>
            <option></option>
            @foreach (Show show in ViewBag.AllShows)
            {
                <option value="@show.ShowID">@show.Title</option>
            }

        </select>
        <label for="watcher">Choose a Watcher</label>
        <select id="watcher" name="watcherID" required>
            <option></option>
            @foreach (Watcher watcher in ViewBag.AllWatchers)
            {
                <option value="@watcher.WatcherID">@watcher.Name</option>
            }
        </select>
        <button type="submit" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>
    </form>
    @if (ViewBag.Card.ShowTitle != null && ViewBag.Card.WatcherName != null)
    {
        <form>
            <div>


                @if (ViewBag.Seasons != null)
                {
                    <label for="season">What Season are you on?</label>
                    <select id="season" name="seasonID" required>
                        <option></option>
                        @foreach (ShowSeason seasons in ViewBag.Seasons)
                        {
                            <option value="@seasons.ShowSeasonID">@seasons.IndividualSeason</option>

                        }
                    </select>
                    <input hidden name="showID" value="@ViewBag.Card.ShowID">
                    <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
                    <button type="submit" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>
                }
            </div>
        </form>
    }
    @if (ViewBag.Card.Episodes != 0)
    {
        <form>
            <label for="episodes">What Episode are you on?</label>
            <select id="episode" name="episode" required>
                <option></option>
                @for (int i = 1; i < ViewBag.Card.Episodes; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <input hidden name="showID" value="@ViewBag.Card.ShowID">
            <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
            <input hidden name="seasonID" value="@ViewBag.Card.SeasonID">

            <button type="submit" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>
        </form>
    }





</div>