
@{
    ViewData["Title"] = "Create ShowCards";
}

<div class="text-center">
    <div class="displayShowCard">
        <section class="watcherContainer">
            <section id="dropdowns">

                <form>
                    <div id="chooseShowWatcherContainer">

                        <div id="connectLabelsContainer">
                            <div id="chooseShow" for="show">Choose a show</div>
                            <div id="chooseShow" for="watcher">Choose a Watcher</div>
                        </div>

                        <div id="connectDropdownsContainer">
                            <div id="dropdownChoose">
                                <select id="show" name="showID" required>
                                    <option></option>
                                    @foreach (Show show in ViewBag.AllShows)
                                    {
                                        <option value="@show.ShowID">@show.Title</option>
                                    }

                                </select>
                            </div>

                            <div id="dropdownChooseWatcher">
                                <select id="watcher" name="watcherID" required>
                                    <option></option>
                                    @foreach (Watcher watcher in ViewBag.AllWatchers)
                                    {
                                        <option value="@watcher.WatcherID">@watcher.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div id="dropdownSelectButton">

                        <button type="submit" id="saveButtonEditShowTitle" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>

                    </div>
                </form>

                @if (ViewBag.Card.ShowTitle != null && ViewBag.Card.WatcherName != null)
                {
                    <form>


                        @if (ViewBag.Seasons != null)
                        {
                            <div id="chooseShowWatcherContainer">
                                <label for="season">What Season are you on?</label>

                                <select id="episode" name="seasonID" required>
                                    <option></option>
                                    @foreach (ShowSeason seasons in ViewBag.Seasons)
                                    {
                                        <option value="@seasons.ShowSeasonID">@seasons.IndividualSeason</option>

                                    }
                                </select>
                                <input hidden name="showID" value="@ViewBag.Card.ShowID">
                                <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
                            </div>
                            <div id="dropdownSelectButton">
                                <button type="submit" id="saveButtonEditShowTitle" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>
                            </div>
                        }

                    </form>
                }
                @if (ViewBag.Card.Episodes != 0)
                {
                    <form>
                        <div id="chooseShowWatcherContainer">

                            <label for="episodes">What Episode are you on?</label>
                            <select id="episode" name="episode" required>
                                <option></option>
                                @for (int i = 1; i < ViewBag.Card.Episodes; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input hidden name="showID" value="@ViewBag.Card.ShowID">
                            <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
                            <input hidden name="seasonID" value="@ViewBag.Card.SeasonID">
                        </div>

                        <div id="dropdownSelectButton">
                            <button type="submit" id="saveButtonEditShowTitle" formaction=@Url.Action("CreateCard") formmethod="post">Select</button>
                        </div>

                    </form>
                }

                <form>
                    <div class="showCardByShowContainer">
                        <div id="connectShow">

                            <label id="indShowCardLabel"> @ViewBag.Card.ShowTitle </label>

                            <label id="indShowCardLabel"> @ViewBag.Card.WatcherName </label>
                            <p></p>

                            @if (ViewBag.Card.CurrentSeason != 0)
                            {
                                <label id="indShowCardLabel"> + Season @ViewBag.Card.CurrentSeason </label>
                            }

                            @if (ViewBag.Card.CurrentEpisode != 0)
                            {
                                <label id="indShowCardLabel"> & Episode @ViewBag.Card.CurrentEpisode </label>
                            }


                            <input hidden name="card" value="@ViewBag.Card">
                            <input hidden name="showID" value="@ViewBag.Card.ShowID">
                            <input hidden name="watcherID" value="@ViewBag.Card.WatcherID">
                            <input hidden name="seasonID" value="@ViewBag.Card.SeasonID">
                            <input hidden name="episode" value="@ViewBag.Card.CurrentEpisode">
                        </div>
                            <button type="submit" id="connectButton" formaction=@Url.Action("Connect") formmethod="post">Connect</button>
                    </div>
                </form>
                <h3 id="connectSuccess">@ViewBag.Message </h3>





            </section>
        </section>
    </div>
</div>
