<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeWatch</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />


    @RenderSection("Styles", false) @* how does this affect code?*@
</head>
<body>
    <header class="user-loggedin">
        <img id="logohead" src="~/img/wewatchlogo.png" />

    </header>
    <div class="container">
        <div id="programWatchersNav">
            <div id="programsNav"> </div><a href="@Url.Action("Shows", "ShowCard")">PROGRAMS</a>
        <div id="watchersNav"> </div><a href="@Url.Action("Watchers", "ShowCard")">WATACHERS</a>
    </div>
        </div>

    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>

    <footer>

        <div id="footerContainer">
            <div class="footerIcons">

                <a href="@Url.Action("ManageShows", "Show")"><img src="/img/editprogramicon2.png" alt="Edit Programs"></a>
                <a href="@Url.Action("ManageWatchers", "Watcher")"><img src="/img/editwatchericon2.png" alt="Edit Wathcer"></a>
                <a href="@Url.Action("CreateCard", "ShowCard")"><img src="/img/connecticon2.png" alt="Connect"></a>
            </div>

            <div id="logoutDiv"><button id="logoutbutton" onclick="location.href='/User/LogOut'" value="LogOut">LogOut</button></div>
        </div>



    </footer>
    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
