
@{
    ViewData["Title"] = "Add a Show";
}


<div class="text-center">
    <h1 class="display-4">Here is the add a show page</h1>

    <h3>@ViewBag.Success </h3>
    <p>@ViewBag.ShowID</p>

    <form action="AddShow" method="post">
        <label for="title">Program Name</label>
        <input type="text" id="title" name="title" required/>
        @ViewBag.titleError
        
        <label for="indSeason">Season</label>
        <input type="number" id="indSeason" name="indSeason" required />
        @ViewBag.indSeasonError
        <label for="episodes">Episodes</label>
        <input type="number" id="episodes" name="episodes" required/>
        @ViewBag.episodeError
        <input type="submit" value="Add Program"/>
    </form>




</div>

