@{
    ViewData["Title"] = "ManageShows";
}

<div class="text-center">
    <h1 class="display-4">Here is the add a show page</h1>
    @if (ViewBag.messages != null)
    {
        <h3>@ViewBag.messages</h3>
    }

    <div class="addShow">

        <button class="addNewProgramTitle"> Add New Program</button>

        <section class="dropdownContainer">
            <div id="dropdowns">

                <form action="AddShow" id="addProgramContainer" method="post">
                    @*<div id="addProgramContainer">*@
                    <div id="programNameContainer">
                        <label for="title">Program Name:</label>
                        <input type="text" id="addProgramTitle" name="title" required />
                    </div>
                    <div id="seasonEpisodeContainer">
                        <div id="seasonContainer">
                            <label for="season">Season:</label>
                            <input type="number" id="season" name="season" required />
                        </div>
                        <div id="episodeContainer">
                            <label for="episodes">Episodes:</label>
                            <input type="number" id="episodes" name="episodes" required />
                        </div>
                        <input type="submit" id="saveButtons" value="Add Program" />
                    </div>
                        @*</div>*@


                </form>
            </div>
        </section>
    </div>
</div>

<div class="displayShowCard">
    @*<h3>List of all Programs added</h3>*@
    @foreach (Show show in ViewBag.AllShows)
    {

        <button class="programTitle">@show.Title</button>
        <section class="dropdownContainer">
            <section id="dropdowns">
                <form>
                    <div id="editShowTitleContainer">
                        <input type="hidden" name="showID" value="@show.ShowID">
                        <input type="text" name="title" id="title" value="@show.Title" required />
                        <button type="submit" id="saveButtonEditShowTitle" name="editProgram[]" formaction=@Url.Action("EditTitle") formmethod="post">Save</button>
                        <button type="submit" id="deleteButtonnEditShowTitle" name="deleteProgram[]" formaction=@Url.Action("DeleteProgram") formmethod="post">X</button>
                    </div>
                </form>


                @foreach (ShowSeason seasons in show.ShowSeasons)
                {
                    <div>
                        <form>
                            <input type="hidden" name="seasonID[]" value="@seasons.ShowSeasonID">
                            <div id="seasonEpisodeContainer">
                                <div id="seasonContainer">
                                    <label for="season">Season</label>
                                    <input type="text" id="season" name="season[]" value="@seasons.IndividualSeason" />
                                </div>
                                <div id="episodeContainer">
                                    <label for="episodes">Episodes</label>
                                    <input type="text" id="episodes" name="episodes[]" value="@seasons.SeasonEpisodes" />
                                </div>
                                <button type="submit" id="saveButtons" name="editSeason[]" value="@seasons.ShowSeasonID" formaction=@Url.Action("EditSeason") formmethod="post">Save</button>

                                <button type="submit" id="deleteButtons" name="deleteSeason[]" value="@seasons.ShowSeasonID" formaction=@Url.Action("DeleteSeason") formmethod="post">X</button>
                            </div>
                        </form>
                    </div>
                }
                <form>
                    <div id="addSeasonEpisodeContainer">
                        <input type="hidden" name="showID" value="@show.ShowID">
                        <div id="seasonContainer">
                            <label for="newSeason" id="addSeasonEpisodeLabel">New  Season</label>
                            <input type="text" id="newSeason" name="newSeason" value="0" />
                        </div>
                        <div id="episodeContainer">
                            <label for="newEpisodes" id="addSeasonEpisodeLabel">Episodes</label>
                            <input type="text" id="newEpisodes" name="newEpisodes" value="0" />
                        </div>
                        <button type="submit" id="addSeasonEpisodeSaveButton" name="addSeason" formaction=@Url.Action("AddSeason") formmethod="post">Add New</button>
                        <button type="submit" id="deleteButtonAddSeason">X</button>
                    </div>
</form>
            </section>
        </section>
    }
</div>

<script src="~/js/site.js" asp-append-version="true"></script>





