@{
    ViewData["Title"] = "ManageShows";
}

<div class="text-center">
    <h1 class="display-4">Here is the add a show page</h1>
    @if (ViewBag.messages != null)
    {



        <h3>@ViewBag.messages</h3>

    }

    <div class="addShow">
    
        <button class="programTitle"> Add New Program</button>
    
    <section class="dropdownContainer">
        <div id="dropdowns">

            <form action="AddShow" method="post">
                <label for="title">Program Name:</label>
                <input type="text" id="title" name="title" required />
                <div id="seasonEpisodeContainer">
                    <div id="seasonContainer">
                        <label for="season">Season:</label>
                        <input type="number" id="season" name="season" required />
                    </div>
                    <div id="episodeContainer">
                        <label for="episodes">Episodes:</label>
                        <input type="number" id="episodes" name="episodes" required />
                    </div>
                    <input type="submit" id="saveButtons" value="Add Program" />
                </div>


            </form>
        </div>
    </section>
    </div>
</div>

<div class="displayShowCard">
    <h3>List of all Programs added</h3>
    @foreach (Show show in ViewBag.AllShows)
    {

        <button class="programTitle">@show.Title</button>
        <section class="dropdowns">
            <form>

                <input type="hidden" name="showID" value="@show.ShowID">
                <input type="text" name="title" id="title" value="@show.Title" required />
                <button type="submit" name="editProgram[]" formaction=@Url.Action("EditTitle") formmethod="post">Save</button>
                <button type="submit" id="deleteButtons" name="deleteProgram[]" formaction=@Url.Action("DeleteProgram") formmethod="post">DELETE</button>
            </form>


            @foreach (ShowSeason seasons in show.ShowSeasons)
            {
                <div>
                    <form>
                        <input type="hidden" name="seasonID[]" value="@seasons.ShowSeasonID">
                        <label for="season">Season</label>
                        <input type="text" id="season" name="season[]" value="@seasons.IndividualSeason" />
                        <label for="episodes">Episodes</label>
                        <input type="text" id="episodes" name="episodes[]" value="@seasons.SeasonEpisodes" />
                        <button type="submit" id="saveButtons" name="editSeason[]" value="@seasons.ShowSeasonID" formaction=@Url.Action("EditSeason") formmethod="post">Save</button>

                        <button type="submit" id="deleteButtons" name="deleteSeason[]" value="@seasons.ShowSeasonID" formaction=@Url.Action("DeleteSeason") formmethod="post">DELETE</button>
                    </form>
                </div>
            }
            <form>
                <div>
                    <input type="hidden" name="showID" value="@show.ShowID">
                    <label for="newSeason">Add A Season</label>
                    <input type="text" id="newSeason" name="newSeason" value="0" />
                    <label for="newEpisodes">Episodes</label>
                    <input type="text" id="newEpisodes" name="newEpisodes" value="0" />
                    <button type="submit" id="saveButtons" name="addSeason" formaction=@Url.Action("AddSeason") formmethod="post">+</button>
                </div>
            </form>
        </section>
    }
</div>

<script src="~/js/site.js" asp-append-version="true"></script>





