@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sign Up";
}

<div id="signUpBackground">
    <div class="text-center">
        @*<div id="logoLogin"> <img src="../img/wewatchlogo.png" alt="We Watch Logo"></div>*@

        <form action="LogIn" id="loginform" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <input type="submit" id="loginbutton" value="Log In" />

            <p>@ViewBag.Count</p>

            @if (ViewBag.email != null || ViewBag.password != null)

            {<h3>You have entered:</h3>}
            <p>@ViewBag.erroremail</p>
            <p>@ViewBag.errorconfirmedemai</p>
            <p>@ViewBag.errormatchingemail</p>
            <p>@ViewBag.errorpassword</p>
            <p>@ViewBag.errorconfirmedpassword</p>
            <p>@ViewBag.errorpasswordconstraint</p>
            <p>@ViewBag.usedemail</p>
            <p>@ViewBag.errormatchingpassword</p>
           

            <div id="orSignUp"> <a href="@Url.Action("SignUp", "User")">SIGN UP </a></div>
                        

        </form>

    </div>


</div>
